@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    border: none;

}
body{
    font-family: "Radio Canada Big", sans-serif;
    width: 100%;
    height: 100dvh;
    background-color: rgba(26, 26, 143, 0.233);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: center;
}
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #4CAF50;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
    transition: all 0.3s ease;
    
  }
  
button:hover {
    background-color: #45a049;
  }
  
.modal{
    height: 100dvh;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    z-index: 20;

}

.overley{
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(78, 41, 41, 0.411);
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.modal-content{
    width: 500px;
    padding: 4rem;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;

}